<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Details</title>
</head>
<body>
    <h4>User: </h4><p><%= user %></p>
    <br>
    <h4>Content: </h5><p><%= text %></p>
    <br>
    <h4>Posted: </h4><p><%= posted %></p>
</body>
</html>