<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Board</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <header>
        <h2>Pint-Sized Post-Its</h2>
        <button id="newPostBtn"><a href="/new">New Post</a></button>
    </header>
    <div id="postsContainer">
        <% console.log(postList) %>
        <% postList.forEach((post) => { %>
            <div class="postCard">
                <h4 class="postUser"><%= post.user %></h4>
                <br>
                <p class="postContent"><%= post.text %></p>
                <br>
                <p class="postDate"><%= post.posted %></p>
                <% let path = '/post/' + post.id %>
                <button><a href=<%= path %>>Details</a></button>
            </div>
        <% }); %>
    </div>
</body>
</html>